/* Login page container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6135d3; /* Light gray background */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: black; /* Black text for the title */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 12px;
  background-color: #007BFF; /* Blue */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.separator {
  text-align: center;
  margin: 20px 0;
  color: #666;
}

.google-login {
  padding: 12px;
  background-color: #db4437; /* Google Red */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login:hover {
  background-color: #c1351d;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

/* Register Button Styling */
.register-button {
  padding: 12px;
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 2%;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.register-button:hover {
  background-color: #218838;
}

